<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" ng-app="showMaf">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/smart-table.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />    
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/jquery-ui.structure.css" />
    <link rel="stylesheet" href="css/jquery-ui.theme.css" />
    <link rel="stylesheet" href="css/showMaf_style.css" />

    <script>
      $(function() {
          $( "#tabs" ).tabs();
      });
      </script>
    <title></title>
    
</head>
<body ng-controller="RunListController">
<div id="loading" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;background-color:gray;background-color:rgba(70,70,70,0.2);"><img style="position:absolute;top:50%;left:50%;" alt="" src="ajax-loader.gif" /></div>
<div id="header">
<h1 ng-click="back_to_list()">MAF Results</h1>
</div>


<div id="filter">

</div>
   
<div id="content" class="row">
    <div id="runList" ng-class="listClass()">

        <table st-table="runs" st-safe-src="runList" class="table table-striped">
        <thead>
            <tr>
                <th colspan="4"><input st-search="" class="form-control" placeholder="Search in all fields" type="text"/></th>
			</tr>
            <tr>
                <th st-sort="mafRunId">Id</th>
                <th st-sort="opsimDate" ng-if="isFullList()" class="animate-if">Opsim Date</th>
                <th st-sort="opsimRun">Opsim Run</th>
                <th st-sort="opsimComment" ng-if="isFullList()"  class="animate-if">Opsim Comment</th>
                <th st-sort="mafDate" ng-if="isFullList()"  class="animate-if">Maf Date</th>
                <th st-sort="mafComment">Maf Comment</th>
                <th st-sort="mafDir" ng-if="isFullList()"  class="animate-if">Maf Dir</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="run in runs" ng-click="switch_run(run.mafRunId)">
                <td>{$ run.mafRunId $}</td>
                <td ng-if="isFullList()">{$ run.opsimDate $}</td>
                <td>{$ run.opsimRun $}</td>
                <td ng-if="isFullList()">{$ run.opsimComment $}</td>
                <td ng-if="isFullList()">{$ run.mafDate $}</td>
                <td>{$ run.mafComment $}</td>
                <td ng-if="isFullList()">{$ run.mafDir $}</td>
            </tr>
        </tbody>
        </table>
    </div>

    <div id="example" ng-class="detailsClass()" ng-hide="isFullList()">
        <div id="metricsWrapper" ng-controller="RunController"  >
        <div id="metricsHeader">
            <div class='row'>

                <div class='section col-md-1'>MAF</div>
                <div class='col-md-5'>
                    <div class='mafDate'>{$ runInfo.mafDate $}</div>
                    <div class='mafComment'>{$ runInfo.mafComment $}</div>
                    <div class='mafDir'>{$ runInfo.mafDir $}</div>
                </div>

                <div class='section col-md-1'>OpSim</div>
                <div class='col-md-5'>
                    <div class='opsimDate'>{$ runInfo.opsimDate $}</div>
                    <div class='opsimRun'>{$ runInfo.opsimRun $}</div>
                    <div class='opsimComment'>{$ runInfo.opsimComment $}</div>
                </div>

            </div>
        </div>
        <div id="tabs">
            <div id="metricsNavigator">
                <ul>
                    <li><a href="#tabs-1">Plot Metrics</a></li>
                    <li><a href="#tabs-2">Summary Statistics</a></li>
                    <li><a href="#tabs-3">OpSim Config</a></li>
                </ul>
            </div>
            <div id="tabs-1">
                <div id="metrics">
                <div class="plot-control">

                    <div class="show-plot plot-btn" ng-click="plot_view(true)" ng-hide="show_plots">
                        Plot <span class="glyphicon glyphicon-triangle-right"></span>
                    </div>
                    <div class="hide-plot plot-btn" ng-click="plot_view(false)" ng-show="show_plots">
                        <span class="glyphicon glyphicon-triangle-left"></span> Back
                    </div>
                    <div class="search" ng-hide="show_plots">
                        Search: <input type="text" ng-model="search.MetricName" />
                        <span class="glyphicon glyphicon-remove"
                              ng-show="search.MetricName"
                              ng-click="reset_search()"   ></span>

                    </div>
                </div>
                <div class="run-contents-wrap">
                    <div id="metricsWrap" ng-hide="show_plots">
                        <div ng-repeat="metricGroup in metrics" class='metricGroup'>
                            <div class='groupName'><input type='checkbox'  ng-click="checkGroup(metricGroup)" ng-checked="updateCheckGroup(metricGroup)" >{$ metricGroup.groupName $}</div>
                            <div ng-repeat="metricSubGroup in metricGroup.members" class='metricSubGroup'>
                                <div class='subGroupName'><input type='checkbox' ng-click="checkSubGroup(metricSubGroup)" ng-checked="updateCheckSubGroup(metricSubGroup)" >{$ metricSubGroup.groupName $}</div>
                                    <div class='row metricHeader'>
                                        <div class='col-md-3'>Metric Name</div>
                                        <div class='col-md-3'>Slicer</div>
                                        <div class='col-md-3'>Metadata</div>
                                        <div class='col-md-3'>Data</div>
                                    </div>
                                <div ng-repeat="metric in metricSubGroup.members | filter: search" class="metric row">
                                     <div class='col-md-3'>
                                         <label>
                                             <input type='checkbox' ng-model="metric.selected" > {$ metric.MetricName $}
                                        </label>
                                     </div>
                                     <div class='col-md-3'>{$ metric.Slicer $}</div>
                                     <div class='col-md-3'>{$ metric.Metadata $}</div>
                                     <div class='col-md-3'>
                                            <a href="/getData?datatype=npz&runId={$ runId $}&metricId={$ metric.metricId $}">npz</a> /
                                            <a href="/getData?datatype=json&runId={$ runId $}&metricId={$ metric.metricId $}">JSON</a>
                                     </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div id="plotsWrap"  ng-show="show_plots">
                        <div class="metrics">
                            <div ng-repeat="metricGroup in metrics" class='metricGroup'>
                                <div class='groupName'>{$ metricGroup.groupName $}</div>
                                <div ng-repeat="metricSubGroup in metricGroup.members" class='metricSubGroup'>
                                    <div class='subGroupName'>{$ metricSubGroup.groupName $}</div>
                                    <div ng-repeat="metric in metricSubGroup.members | filter: {selected: true}" class="metric row">
                                        {$ metric.MetricName $}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="plots">
                            <div ng-repeat="metricGroup in metrics" class='metricGroup-plot'>
                                <div ng-repeat="metricSubGroup in metricGroup.members" class='metricSubGroup-plot'>
                                    <div ng-repeat="metric in metricSubGroup.members | filter: {selected: true}" class="metric row">
                                        <div class="metric-name">{$ metric.MetricName $}</div>
                                        <div class="metric-meta">{$ metric.Metadata $}</div>
                                        <div class="metric-data">
                                            <a href="/getData?datatype=npz&runId={$ runId $}&metricId={$ metric.metricId $}">npz</a> /
                                            <a href="/getData?datatype=json&runId={$ runId $}&metricId={$ metric.metricId $}">JSON</a>
                                        </div>

                                        <div class="metric-caption">{$ metric.caption $}</div>
                                        <div class="metric-plots">
                                            <span ng-repeat="plot in metric.plots" class="metricPlot">
                                                <a href="/{$ plot.plotFile $}" target="_blank">
                                                    <img src="/{$ plot.thumbFile $}" />

                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    
</div>
    
    
    <div id="footer"></div>
</body>
</html>