@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans Bold";
    src: url(fonts/OpenSans-Bold.ttf);
}
body{
    font-family: "OpenSans";
    padding-left: 10px;
}


#header{
    text-align: right;
}
#header #back{
    width: 85%;
    margin-right: 20px;
}
#header h1{
    font-family: "OpenSans Bold";
    color: #0071BC;
}

#short_run_list{
    font-size: 0.3em;
    width: 350px;
}

#long_run_list{
    width: 350px;
}

.run{
    margin: 10px 0px;
}
.run:hover{
    cursor: pointer;
    background-color: #CCE3F2;
}

.runBox{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #0071BC;
    
}
.run .runIdWrapper{
    width: 10px;
}
.run .mafRnnId{
    padding-top: 1em;
    text-align: right;
    font-family: "OpenSans Bold";    
    color: #0071BC; 
}
.runBox{
    padding: 0.5em 5px;    
}


.runBox  .section{
    font-family: "OpenSans Bold";
    color: #0071BC;
}



#metricsHeader .section{
    font-family: "OpenSans Bold";
    color: #0071BC;
    font-size: 1.6em;
    padding-top: 1em;
    text-align: right;
}

#metricsHeader .mafDir{
    color: #aaa;
}
#metricsHeader .mafComment, #metricsHeader .opsimRun{
    font-family: "OpenSans Bold";
    font-size: 1.6em;
}
.run-contents-wrap{
    height: 650px;
    overflow-y: auto;
}
.plot-control{
    position: relative;
    height: 2em;
}
.plot-btn{
    color: #0071BC;
    font-size: 1.5em;
}
.plot-btn:hover{
    cursor: pointer;
}
.show-plot{
    position: absolute;
    right: 0;
    top: 0;
}
.hide-plot{
    position: absolute;
    left: 0;
    top: 0;

}


.groupName{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    background-color: #338DC9;
    color: white;
    height: 1.6em;
    font-size: 1.5em;
    padding: 2px 10px;
    margin: 3px 0;
}
.subGroupName{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    background-color: #CCE3F2;
    height: 1.5em;
    font-size: 1.4em;
    padding: 2px 10px;
}

.metricHeader{
    font-weight: bold;
    border-bottom: 1px solid #CCE3F2;
    margin: 3px 0;
}
.metric{
    border-bottom: 1px solid #CCE3F2;
    margin: 3px 0;
}
.metric a {
    color: #0071BC;
}

#plotsWrap{
    position: relative;
}
#plotsWrap .metrics{
    font-size: 0.5em;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;

}
#plotsWrap .plots{
    margin-left: 220px;
}
#plotsWrap .metricPlot img{
    width: 300px;

}
#plotsWrap .metric-name{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}
#plotsWrap .metric-meta{
    display: inline-block;
    margin-left: 20px;
}
#plotsWrap .metric-data{
    display: inline-block;
    float: right;
}
#plotsWrap .metric-caption{

}
